
<form [formGroup]="form" (submit)="submit()" class="form-article">

    <h1 class="h3 mb-3 fw-normal text-center"><b>Modifier Article</b></h1>
    <h5>Derniére modificaton fait le : <br><br> <h5 style="color: red">{{datemodif}}</h5></h5>
    <br>
    <div class="form-floating">

        <input  formControlName="titre" type="text" class="form-control" id="floatingInput" placeholder="Ahmed Gharmoul">
        <label for="floatingInput">Titre</label>
    </div>
    <br>
    <div class="form-floating">
        <textarea formControlName="contenu" class="form-control" rows="10" style="height:100%;"  placeholder="Join the discussion and leave a comment!"></textarea>
        <label for="floatingInput">Contenu</label>
    </div>






    <br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Republier!</button>

</form>