<div class="cart_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">

                    <div class="cart_title">Mes Articles <br><small>Vous avez <b style="color: red;">{{articles.length}}</b> article(s) publié(s)  </small></div>

                    <div class="cart_items" *ngFor="let article of articles ;let i=index">
                        <ul class="cart_list"  >
                            <li class="cart_item clearfix">
                                <div class="cart_item_image"><img src="../../assets/article.png" alt=""></div>
                                <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                    <div class="cart_item_name cart_info_col">
                                        <div class="cart_item_title text-center">Titre </div>
                                        <div class="cart_item_text overflow-information-titre">{{article['titre']}}</div>
                                    </div>


                                    <div class="cart_item_name cart_info_col">
                                        <div class="cart_item_title text-center">Contenu </div>
                                        <div class="cart_item_text overflow-information">{{article['contenu']}}</div>
                                    </div>

                                    <div class="cart_item_name cart_info_col">
                                        <div class="cart_item_title">Date Modif </div>
                                        <div class="cart_item_text" style="width: 100px">{{article['date_modif']}}</div>
                                    </div>




                                    <div class="cart_item_price cart_info_col" style="width: 200px">
                                        <div class="cart_item_title text-center">Action</div>
                                        <div class="cart_item_text" style="width: 200px">
                                            <button routerLink="/article/modifer" (click)="setIdArticle(article['id'])" class="btn btn-warning" style="margin-right:10px ">Modifier</button>
                                            <button (click)="supprimerArticles(article['id'])" class="btn btn-danger">Supprimer</button>
                                        </div>




                                    </div>


                                    <div class="cart_item_price cart_info_col">
                                        <div class="cart_item_title ">Supp</div>
                                        <div class="cart_item_text"><input (change)="setIdArticles(article['id'])" type="checkbox" id="coding" name="interest" value="coding" ></div>



                                    </div>




                                </div>

                            </li>
                        </ul>

                    </div>
                    <button class="btn btn-danger" style="float: right;margin-top: 20px"(click)="multipleDelete()">Suppression Multiple</button>
                </div>
            </div>
        </div>
    </div>
</div>